# Gitignore file to avoid tracking files unnecessarily

.pytest_cache
__pycache__/

# This is where I am tracking the speed of the program and planning my project

speedups.xlsx

fiveruns.sh

#Files associated with cython build
*.o
*.so
*.c
cython_accel/build/
cython_parallel/build/

#Output files
LL*
