# Gitignore file to avoid tracking files unnecessarily

__pycache__/

# This is where I am tracking the speed of the program

speedups.xlsx

fiveruns.sh

#Files associated with cython build
*.o
*.so
*.c
cython_accel/build/
